aws_profile = ""
audit_account_email = ""
audit_account_friendlyname = "Security"
audit_close_on_delete = true
logging_account_email = ""
logging_account_friendlyname = "Logging"
logging_close_on_delete = true
governed_regions = [ "ap-southeast-2" ]

